.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: black;
  height: 100%;
}
.hero {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
}
.textSec {
  width: 100%;
  padding: 20px 30px;
}
.textSec h1 {
  line-height: 0.85;
  font-size: 6.375rem;

  color: white;
  text-transform: uppercase;
}
.secondSec {
  max-width: 1400px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 20px;
  margin-bottom: 200px;
}
.secondSec p {
  font-size: 3.25rem;
  color: black;
  line-height: 1;
  font-weight: bold;
}
.secondSec p span {
  opacity: 0;
  color: black;
}
@media screen and (max-width: 1200px) {
  .secondSec {
    padding-inline: 40px;
    height: 100%;
    min-height: 500px;
  }
  .secondSec p {
    font-size: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .textSec h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 731px) {
  .textSec h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 537px) {
  .textSec h1 {
    font-size: 2.5rem;
  }
  .secondSec p {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .textSec h1 {
    font-size: 2.2rem;
  }
}
