.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: black;
  height: 100%;
  overflow-x: hidden;
}
.hero {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
}
.textSec {
  width: 100%;
  padding: 20px 30px;
}
.textSec h1 {
  line-height: 0.85;
  font-size: 6.375rem;

  color: white;
  text-transform: uppercase;
}
.secondSec {
  max-width: 1400px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 20px;
  margin-bottom: 200px;
}
.secondSec p {
  font-size: 3.25rem;
  color: black;
  line-height: 1;
  font-weight: bold;
}
.secondSec p span {
  opacity: 0;
  color: black;
}
.thirdWrapper {
  width: max-content;
  min-height: 100vh;
  padding-left: 10px;
  pointer-events: none;
}
.pin-spacer {
  pointer-events: none;
}
.thirdSection {
  pointer-events: none;
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  flex-direction: column;
  height: 100%;
  margin-top: 55vh;
  width: max-content;
  pointer-events: none;
}

.cardDiv {
  display: grid;
  grid-template-columns: repeat(6, 600px);
  grid-template-rows: 1fr;
  column-gap: 40px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  pointer-events: none;
}
.thirdSection p {
  font-size: 4.5rem;
  letter-spacing: -0.1rem;
  line-height: 1;
  width: 100%;
  color: black;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
}

.card {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: black;
  flex-direction: column;
  pointer-events: all;
  gap: 30px;
  position: relative;
}
.card1 {
  background-color: lightslategray;
  transform: translateY(20vh);
}
.card2 {
  background-color: lightblue;
  transform: translateY(25vh);
}
.card3 {
  background-color: lightcoral;
  transform: translateY(30vh);
}
.card4 {
  background-color: lightgreen;
}
.card5 {
  background-color: lightskyblue;
}
.card6 {
  background-color: lightgoldenrodyellow;
}
@media screen and (max-width: 1200px) {
  .secondSec {
    padding-inline: 20px;
    height: 100%;
    min-height: 500px;
  }
  .secondSec p {
    font-size: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .textSec h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 800px) {
  .card {
    /* width: 400px; */
    transform: translateY(30px);
  }
  .thirdWrapper {
    padding-top: 0px;
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    min-height: 100svh;
    padding-top: 20px;
    align-items: flex-start;
  }
  .thirdSection {
    margin-top: 0px;
    grid-template-rows: 1fr auto;
    height: 100%;
    margin-bottom: 15px;
  }
  .thirdSection h1 {
    font-size: 50px;
    letter-spacing: 2px;
  }
  .cardDiv {
    grid-template-columns: repeat(6, 375px);
    padding-top: 0px;
    align-items: flex-end;
  }
}
@media screen and (max-width: 731px) {
  .textSec h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 537px) {
  .textSec h1 {
    font-size: 2.5rem;
  }
  .secondSec p {
    font-size: 20px;
  }
}
@media screen and (max-width: 510px) {
  .thirdSection {
    padding-left: 10px;
  }
  .text-section h1 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 400px) {
  .textSec h1 {
    font-size: 2.2rem;
  }
}
